<nav>
	<h3>NAV</h3>
	<ul>
		<li class="<%- typeof page != 'undefined' && page == 'home' ? 'active' : ''%>"><a href="/">Home</a></li>
		<li class="<%- typeof page != 'undefined' && page == 'product' ? 'active' : ''%>"><a href="/product">Products</a></li>
		<li class="<%- typeof page != 'undefined' && page == 'contact' ? 'active' : ''%>"><a href="/contact">Contact</a></li>
	</ul>
</nav>