<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Views & Templates - Home</title>
	<%- include('partials/styles.ejs')%>
</head>

<body>
	<header>
		<h1>LOGO - Home</h1>
		<h2>HEADER</h2>
		<nav>
			<h3>NAV</h3>
			<a href="/">Home</a>
			<a href="/product">Products</a>
			<a href="/contact">Contact</a>
		</nav>
	</header>
	<main>
		<h2>MAIN</h2>
	</main>
	<footer>
		<h2>FOOTER</h1>
	</footer>
</body>

</html>